@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$primary-color: #a855f7;
$primary-color-dark: #9333ea; 
$text-dark: #1f2937;
$text-light: #b874f8;
$extra-light: #faf5ff;
$color-white: #ffff;
$max-width: 1200px;
$poppins-font: 'Poppins', sans-serif;
$green: #72b626;
$black: #111;
$nero: #252525;
$transition: all 0.4s ease;
