<section class="section" id="home">
    <div class="section__container">
        <div class="content">
            <p class="subtitle">HELLO</p>
            <h1 class="title">
                I'm <span>Anju Ghimire<br />a</span> Creative Developer
            </h1>
            <p class="description">
                A highly motivated, hardworking and well-traveled student
            </p>
            <div class="action__btns">
                <button class="hire__me">Hire Me</button>
                <button class="portfolio" >
                    <a href="../../image/anju-home.png" class="download-btn" download>Download CV</a>
                </button>
            </div>
        </div>
            <div class="image">
                <img src="./image/anju-home.png" alt="profile" />
            </div>
    </div>
</section>
