<section class = "skills" id="skills">
    <div class = "title title-center">
        <h1>Skills</h1>
    </div>
        <div class = "row">
            <div class = "item">
                <div class = "item-text">
                  <span>HTML5</span>
                  <span class = "w-90">90%</span>
                </div>
                <div class = "progress">
                  <div class = "progress-bar w-90"></div>
                </div>
              </div>
    
            <div class = "item">
                <div class = "item-text">
                    <span>Figma</span>
                    <span class = "w-75">75%</span>
                </div>
                <div class = "progress">
                    <div class = "progress-bar w-75"></div>
                </div>
            </div>
    
            <div class = "item">
                <div class = "item-text">
                    <span>CSS</span>
                    <span class = "w-60">60%</span>
                </div>
                <div class = "progress">
                    <div class = "progress-bar w-60"></div>
                </div>
            </div>
    
            <div class = "item">
                <div class = "item-text">
                  <span>JavaScript</span>
                  <span class = "w-70">70%</span>
                </div>
                <div class = "progress">
                  <div class = "progress-bar w-70"></div>
                </div>
              </div>
    
            <div class = "item">
                <div class = "item-text">
                    <span>C#</span>
                    <span class = "w-60">60%</span>
                </div>
                <div class = "progress">
                    <div class = "progress-bar w-60"></div>
                </div>
            </div>
        </div>
    
</section>
