<section class="section" id="about">
    <div class="section__container">
        <div class="image-about-me">
            <img src="../../image/anju-about.png" alt="anju" class="about-me-profile"/>
        </div>
        <div class="content">
            <h1 class="title">
                About <span>Me</span>
            </h1>
            <p class="description">
                I'm Anju Ghimire, currently in my 8th semester of Business Management. 
                Despite my management studies, I've developed a strong passion for coding. 
                As a trainee in this company, I'm eager to learn and contribute. Let's 
                collaborate and create something amazing.
            </p>
            <div class="action__btns">
                <button class="hire__me">See More</button>
            </div>
        </div>
    </div>
</section>
