<section class="section" id="contact">
    <div class="section__container">
        <div class="contact-left">
            <h1>Contact</h1>
            <h2>Let’s Work Together</h2>
            <p><a href="./home.html">Have any questions?</a> Feel free to get in touch with me 
                and I’ll get back to get back to you as soon as possible !</p>
            
                <div class="side-bar">
                    <ul>
                        <li><img src="../../image/LinkedIn.png" alt="linkedIn" width="30px"></li>
                        <li><img src="../../image/TwitterX.png" alt="Twitter" width="30px"></li>
                        <li><img src="../../image/GitHub.png" alt="Github" width="30px"></li>
                    </ul>
                    <p>Follow Me</p>
                </div>
        </div>
        <div class="container">
            <div class="contact-form">
                <form>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter Your Name">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Your Email">
                    <label for="message">Message</label>
                    <textarea id="message" name="message"></textarea>
    
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
