<section class = "skills" id="skills"> 
        <h1 class = "title title-center">Skills</h1> 
        <div class = "row">
            <div class = "item">
                <div class = "item-text">
                  <span>HTML5</span>
                  <span class = "w-90">90%</span>
                </div>
                <app-line-bar [lineBarClassName]="'progress'">
                    <app-line-bar [lineBarClassName]="'progress-bar w-90'"></app-line-bar>
                </app-line-bar>
              </div>
    
            <div class = "item">
                <div class = "item-text">
                    <span>Figma</span>
                    <span class = "w-75">75%</span>
                </div>
                <app-line-bar [lineBarClassName]="'progress'">
                    <app-line-bar [lineBarClassName]="'progress-bar w-75'"></app-line-bar>
                </app-line-bar> 
            </div>
    
            <div class = "item">
                <div class = "item-text">
                    <span>CSS</span>
                    <span class = "w-60">60%</span>
                </div><app-line-bar [lineBarClassName]="'progress'">
                    <app-line-bar [lineBarClassName]="'progress-bar w-60'"></app-line-bar>
                </app-line-bar>
            </div>
    
            <div class = "item">
                <div class = "item-text">
                  <span>JavaScript</span>
                  <span class = "w-60">60%</span>
                </div>
                <app-line-bar [lineBarClassName]="'progress'">
                    <app-line-bar [lineBarClassName]="'progress-bar w-60'"></app-line-bar>
                </app-line-bar>
              </div>
    
            <div class = "item">
                <div class = "item-text">
                    <span>C#</span>
                    <span class = "w-75">75%</span>
                </div>
                <app-line-bar [lineBarClassName]="'progress'">
                    <app-line-bar [lineBarClassName]="'progress-bar w-75'"></app-line-bar>
                </app-line-bar>
            </div>
        </div>
    
</section>
