<section class="section" id="projects"> 
    <div class="project-section">  
            <h1 class = "title title-center">Project</h1> 
        
    <div class=" project-container">         
        <div class="project">
            <img src="/app/assets/image/counterGame.png" alt="" width="200px" height="195px">
            <h3>Project 1</h3>
            <app-anchor [anchorClassName]="'portfolio'">View on GitHub</app-anchor>
        </div>

        <div class="project">
            <img src="/app/assets/image/TikTacToeGame.png" alt="" width="200px">
            <h3>Project 2</h3>           
            <app-anchor [anchorClassName]="'portfolio'">View on GitHub</app-anchor>
        </div>

        <div class="project">
            <img src="/app/assets/image/RockPaperScissor.png" alt="" width="200px" height="195px">
            <h3>Project 3</h3>
            <app-anchor [anchorClassName]="'portfolio'">View on GitHub</app-anchor>
        </div>
    </div>
    </div>
</section>