<section class="section" id="projects"> 
    <div class="project-section"> 
        <div class = "title title-center">
            <h1>Project</h1>
        </div>
    <div class=" project-container">         
        <div class="project">
            <img src="./image/counterGame.png" alt="" width="200px" height="195px">
            <h3>Project 1</h3>
            <a href="#" class="portfolio">View on GitHub</a>
        </div>
        <div class="project">
            <img src="./image/TikTacToeGame.png" alt="" width="200px">
            <h3>Project 2</h3>
            <div class="header-action">
                <a href="#" class="portfolio">View on GitHub</a>
            </div>
        </div>
        <div class="project">
            <img src="./image/RockPaperScissor.png" alt="" width="200px" height="195px">
            <h3>Project 3</h3>
            <div class="header-action">
                <a href="#" class="portfolio">View on GitHub</a>
            </div>
        </div>
    </div>
    </div>
</section>