/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}
header .nav__content {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  font-size: 1.5rem;
  font-weight: 600;
  color: #a855f7;
  transition: 0.3s;
  cursor: pointer;
}
header .checkbox {
  display: none;
}
header .checkbox i {
  font-size: 2rem;
  color: #a855f7;
  cursor: pointer;
}
header input {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}
.nav-bar li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: #1f2937;
  transition: 0.3s;
}
.nav-bar li a:hover {
  border-top-color: #72b626;
  border-bottom-color: #72b626;
  color: #9333ea;
}

.section {
  background-color: #faf5ff;
}

.section__container {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: #6b7280;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 1rem;
}
.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: #111;
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}
.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid #a855f7;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.action__btns .hire__me {
  background-color: #a855f7;
  color: #ffffff;
}
.action__btns .hire__me:hover {
  background-color: #9333ea;
}
.action__btns .portfolio {
  color: #a855f7;
}
.action__btns .portfolio:hover {
  background-color: #9333ea;
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}
.image img {
  width: min(400px, 90%);
  border-radius: 100%;
}

.image-about-me {
  display: grid;
  place-items: center;
}
.image-about-me .about-me-profile {
  width: min(25rem, 90%);
  height: 400px;
}

.download-btn {
  color: #9333ea;
}
.download-btn:hover {
  color: #ffffff;
}

.skills {
  padding: 5rem 0 2.5rem 0;
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 50px;
}
.skills .row {
  margin: 1rem 0;
}
.skills .item {
  padding: 0.5rem 0;
  margin: 0.3rem 0;
}
.skills .item .item-text {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}
.skills .item .item-text span:last-child {
  position: absolute;
}
.skills .item .item-text .w-90 {
  margin-left: 85%;
}
.skills .item .item-text .w-75 {
  margin-left: 70%;
}
.skills .item .item-text .w-85 {
  margin-left: 80%;
}
.skills .item .item-text .w-80 {
  margin-left: 75%;
}
.skills .item .item-text .w-60 {
  margin-left: 55%;
}
.skills .item .item-text .w-70 {
  margin-left: 65%;
}
.skills .item .item-text .w-68 {
  margin-left: 63%;
}
.skills .progress {
  margin: 0.8rem 0;
  border-radius: 10px;
  height: 16px;
  width: 100%;
  background-color: #9333ea;
  overflow: hidden;
}
.skills .progress .progress-bar {
  background: #72b626;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.skills .progress .progress-bar.w-90 {
  width: 90%;
}
.skills .progress .progress-bar.w-75 {
  width: 75%;
}
.skills .progress .progress-bar.w-85 {
  width: 85%;
}
.skills .progress .progress-bar.w-70 {
  width: 70%;
}
.skills .progress .progress-bar.w-60 {
  width: 60%;
}
.skills .progress .progress-bar.w-68 {
  width: 68%;
}

.project-section {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
.project-section .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.project-section .project-container .project {
  padding: 24px;
  border: 1px solid #9333ea;
  border-radius: 10px;
  text-align: center;
}
.project-section .project-container .project img {
  border-radius: 10px;
  margin-bottom: 1rem;
}
.project-section .project-container .project h3 {
  margin-bottom: 10px;
}
.project-section .project-container .project a {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 5px 10px;
  outline: none;
  border: 2px solid #a855f7;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10px;
  color: #a855f7;
}
.project-section .project-container .project a:hover {
  background-color: #9333ea;
  color: #ffffff;
}

.title-center {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.contact-left {
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
}
.contact-left h1 {
  font-size: 2rem;
  margin: 0 0 20px;
}
.contact-left h2 {
  font-size: 1rem;
  margin: 0 0 10px 0;
}
.contact-left p {
  margin: 0 0 20px 0;
}
.contact-left p a {
  text-decoration: none;
  color: #9333ea;
}
.contact-left p a:hover {
  text-decoration: underline;
}
.contact-left .side-bar {
  justify-content: space-around;
  background-color: #9333ea;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 260px;
  height: 50px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}
.contact-left .side-bar ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
  padding: 0;
  margin: 0;
}
.contact-left .side-bar ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.4s;
}
.contact-left .side-bar ul li img {
  padding: 0;
}
.contact-left .side-bar ul li img:hover {
  cursor: pointer;
  transform: translateY(4px);
}
.contact-left .side-bar ul li:hover {
  cursor: pointer;
}
.contact-left .side-bar p {
  height: 35px;
  width: 125px;
  background-color: #72b626;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0px 15px 0px 15px;
  margin-top: 20px;
}
.contact-left .side-bar p:hover {
  cursor: pointer;
  background-color: #9333ea;
}

.contact-form {
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  box-sizing: border-box;
  box-shadow: 0 4px 8px #9333ea;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form label {
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-form form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.contact-form form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
}
.contact-form form button {
  padding: 10px 20px;
  background-color: #9333ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.contact-form form button:hover {
  background-color: #9333ea;
}

footer {
  margin-top: 300px;
  background-color: #16111a;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}
footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer .footer-content .column {
  margin: 10px;
  min-width: 150px;
}
footer .footer-content .column h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
footer .footer-content .column ul {
  list-style: none;
  padding: 0;
}
footer .footer-content .column ul li {
  margin-bottom: 10px;
}
footer .footer-content .column ul li a {
  color: #fff;
  text-decoration: none;
}
footer .footer-content .column ul li a:hover {
  text-decoration: underline;
}
footer .footer-content .contact {
  text-align: center;
  margin: 20px 0;
}
footer .footer-content .contact a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
footer .footer-content .contact a:hover {
  text-decoration: underline;
}
footer .footer-content .footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
  width: 100%;
}
footer .footer-content .footer-bottom p {
  margin: 0;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */